[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "geomerge"]
	path = geomerge
	url = https://github.com/kdonnay/geomerge
[submodule "meltt"]
	path = meltt
	url = https://github.com/kdonnay/meltt
[submodule "mwa"]
	path = mwa
	url = https://github.com/kdonnay/mwa
